.documentation-file a:link,
.documentation-file a:hover,
.documentation-file a:visited,
.documentation-file a:link {
  color: rgba(0, 0, 0, 0.7);
}

.documentation-content {
  margin-top: 30px;
}

.documentation-file a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.documentation-file a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.documentation-file a > img {
  width: 10%;
}

.documentation-file a > p {
  font-weight: 600;
  margin-left: 10px;
}

.documentation-card {
  padding: 2%;
  box-shadow: -2px 5px 13px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  height: 850px;
  margin-left: 15%;
}

.documentation-card span {
  color: #008e6e;
  font-weight: 600;
}

.documentation-card-line {
  height: 1px;
  background-color: #008e6e;
  width: 30%;
  margin: 5px auto;
}

.documentation-file h2 {
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .documentation-file a {
    padding: 40px 0;
  }
  .documentation-files {
    width: 50%;
    margin-right: 10px;
  }
  .documentation-card {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .documentation {
    flex-direction: column;
  }

  .documentation-files {
    width: 100%;
    margin-right: 0;
  }

  .documentation-card {
    width: 100%;
    padding: 10%;
    height: 700px;
    margin-top: 50px;
    margin-left: 0;
  }

  .documentation-file a > img {
    width: 15%;
  }

  .documentation-image img {
    height: 75px;
  }
}
