.news-border {
  border-radius: 3px;
  box-shadow: -2px 5px 13px 0px rgba(0, 0, 0, 0.15);
}

.news-section-header {
  margin-bottom: 20px;
}
.news-block {
  padding-top: 10px;
}

.main section:first-child {
  margin-right: 0;
}
