.works-section {
  padding: 0 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.works-text {
  width: 60%;
  margin-right: 10px;
}

.works-image {
  width: 100%;
}

.works-image img {
  width: 100%;
}

.works-text h1 {
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  margin: 30px 0;
  font-size: 30px;
}

.works-text p {
  margin-top: 20px;
}

.works-text p:first-child {
  margin-top: 0;
}

.works-text img {
  display: inline-block;
  margin: 50px 0;
  width: 100%;
  margin-bottom: 30px;
}

.card-height {
  height: fit-content;
  margin-top: 100px !important;
}

@media screen and (max-width: 768px) {
  .works-section {
    flex-direction: column;
  }

  .works-text {
    width: 100%;
    margin-right: 0;
  }

  .works-image img {
    height: 75px;
  }

  .card-height {
    margin-top: 40px !important;
  }
}
