.works-text {
  width: 60%;
  margin-right: 10px;
}

.works-text p {
  margin-top: 20px;
}

.works-text p:first-child {
  margin-top: 0;
}

.works-content {
  margin-top: 30px;
}

.works-text img {
  display: inline-block;
  margin: 50px 0;
  width: 100%;
  margin-bottom: 30px;
}

.card-height {
  height: fit-content;
  margin-top: 100px !important;
}

@media screen and (max-width: 768px) {
  .works-section {
    flex-direction: column;
  }

  .works-text {
    width: 100%;
    margin-right: 0;
  }

  .works-image img {
    height: 75px;
  }

  .card-height {
    margin-top: 40px !important;
  }
}
